/application/config/development
/application/config/database.php
/application/logs/*
!/application/logs/index.html
!/uploads/temp/remove.txt
/uploads/archive/*
/uploads/customer_files/*
/uploads/import/*
/uploads/temp/*
/application/helpers/mpdf/ttfontdata/*
/node_modules
/assets/core/fonts/font-awesome
/assets/core/js/locales
/assets/core/js/*.min.js
/assets/core/js/*.min.js.map
/assets/InvoicePlane/css/*.min.css
/assets/InvoicePlane/css/*.min.css.map
/assets/vendor
.vagrant
.idea
.sass-cache
adminer.php
