# /////////////////////////////////////////////
# InvoicePlane Configuration File
# /////////////////////////////////////////////
# Please notice: any values that contain spaces
# need to be surrounded by quotes ( ' or " )

## App URL
# The app will try to figure our your domain but we do
# recommend to set it on your own to prevent any issues.
# Please specify your Domain with the protcol (http://)
# and WITHOUT a trailing slash!
# Sub directories can be appended.
# Example value: https://app.invoiceplane.com
# Example value: https://app.invoiceplane.com/sub-directory

APP_URL=

## Application Environment
# Set the environment of your application here.
# Recommended values: production / testing / development

APP_ENVIRONMENT=production

## Debug Mode
# Do you have problems with InvoicePlane? Enable the debug
# mode for additional logging.
# Possible values: true / false

ENABLE_DEBUG=false

## index.php
# If you want to remove index.php from your URLs, set this
# setting to 'true'.
# Please notice the additional requirements for your web
# server.
# Possible values: true / false

REMOVE_INDEX=false

## Database settings
# These database settings are set during the initial setup
# You may want to change them later if you move your database
# of change the credentials.

DB_HOSTNAME=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=
DB_PREFIX=
DB_PORT=

## Session expiration
# If you want to be logged out after closing your browser window,
# set this setting to 0 (ZERO). The number represents the amount
# of minutes after that IP will automatically log out users,
# the default is 10 days.

SESS_EXPIRATION=864000

## InvoicePlane Legal Settings
# Enable the deletion of invoices even if they are already sent to
# the customer.
# WARNING: This may cause legal issues in some countries!
# Possible values: true / false

ENABLE_INVOICE_DELETION=false

# Disable the read-only mode for invoices to change them after
# they were already paid.
# WARNING: This may cause legal issues in some countries!
# Possible values: true / false

DISABLE_READ_ONLY=false

## Setup Disabling
# Once the setup is completed this variable will be set to
# true. There should be no need to change it back to false
# later.

DISABLE_SETUP=false

# ////////////////////////////////////////////////////////
# There are many more configuration variables available
# that can be set in this file but usually there is no need
# to change them. If you want to tweak a config, search
# for the environment variable in the corresponding config
# file and set the value here.

# ////////////////////////////////////////////////////////
# ONLY EDIT BELOW THIS LINE IF YOU KNOW WHAT YOU ARE DOING

# This key is automatically set after the initial setup.
# Changing the key will result in DATA LOSS!

ENCRYPTION_KEY=
