<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="tests/ci_bootstrap.php"
    colors="true"
    stopOnFailure="false"
    backupGlobals="false"
    backupStaticProperties="false"
>
    <testsuites>
        <testsuite name="CI Lifecycle Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
