/*
|   =========================================================
|   InvoicePlane
|   Templates Sass Stylesheet
|   =========================================================
*/

$color_base: #3A3A3A;
$color_base_light: lighten($color_base, 15%);
$color_base_lighter: lighten($color_base_light, 15%);
$color_base_dark: darken($color_base, 15%);
$color_base_darker: darken($color_base_dark, 15%);
$color_primary: #375bc8;
$color_red: #ea5340;
$color_green: #77b632;

/*=========================================================*/
/*
|   =========================================================
|   InvoicePlane Templates Sass Stylesheet - since 1.6.3
|   https://invoiceplane.com
|   =========================================================
|   The following styles are needed to display html Invoices
|   and Quotes. Used in templates to make pdf
|   Import InvoicePlane default Stamp and template Styles
|   =========================================================
*/

@import "../../core/scss/templates";