
// Margins left and right for symbols
.fa-ml {
  margin-left: $spacer / 2;
}

.fa-mr {
  margin-right: $spacer / 2;
}

// Small class for help texts below input fields
.form-help {
  color: $text-muted;
  display: block;
  font-size: $font-size-sm;
  margin-top: $form-text-margin-top;
}
