###
### Copy createdb.sql.example to createdb.sql
### then uncomment then set database name and username to create you need databases
#
# example: .env MYSQL_USER=ipdevdb and need db name is invoiceplane_db
#
#    CREATE DATABASE IF NOT EXISTS `invoiceplane_db` ;
#    GRANT ALL ON `invoiceplane_db`.* TO 'ipdevdb'@'%' ;
#
###
### this sql script is auto run when mariadb container start and $DATA_PATH_HOST/mariadb not exists.
###
### if your $DATA_PATH_HOST/mariadb is exists and you do not want to delete it, you can run by manual execution:
###
###     docker-compose exec mariadb bash
###     mysql -u root -p < /docker-entrypoint-initdb.d/createdb.sql
###

#CREATE DATABASE IF NOT EXISTS `invoiceplane_db` COLLATE 'utf8_general_ci' ;
#GRANT ALL ON `invoiceplane_db`.* TO 'ipdevdb'@'%' ;

FLUSH PRIVILEGES ;
