/* =============================================================================
   InvoicePlane
   Custom Stylesheet

   All changes made in this file will override the default styles in PDFs.
   ========================================================================== */
body{
	position:relative;
	width:21cm;
	height:29.7cm;
	margin:0 auto;
	color:#3A3A3A;
	background:#FFFFFF;
	font-family:sans-serif;
	font-size:12px;
}
/* =============================================================================
	Zeile mit Rechnungsnummer
   ========================================================================== */
.invoice-title{
	color:#375bc8;
	font-size:2em;
	line-height:1.4em;
	font-weight:normal;
	margin:20px 0;
}
table.item-table{
	width:100%;
	border-collapse:collapse;
	border-spacing:0;
	margin-bottom:20px;
	font-size:11px;
	text-align:left;
}
table.item-table
	td{
		padding:1px 3px;
	}
table.item-table tr:nth-child(2n-1) td{
	background:#F5F5F5
}
table.item-table th{
	padding:5px 5px;
	border-bottom:2px solid #606060;
	border-top:1px solid #606060;
	white-space:nowrap;
	text-align:left;
	font-size:11px;
	}
table.item-table
	td.invoice-sum-bold{
		padding-top:5px;
		text-align:right;
		font-weight: bold;
		font-size:12px;
	}
	td.invoice-sum-nobold{
		text-align:right;
	}
	th.item-amount{
		text-align:center;
	}
	td.item-amount{
		text-align:right;
	}
	th.item-desc{
		text-align:center;
	}
	td.item-desc{
		text-align:left;
	}
	th.item-discount{
		text-align:center;
	}
	td.item-discount{
		text-align:right;
	}
	th.item-name{
		text-align:left;
	}
	td.item-name{
		text-align:left;
	}
	th.item-price{
		text-align:center;
	}
	td.item-price{
		text-align:right;
	}
	th.item-tax_rate{
		text-align:center;
	}
	td.item-tax_rate{
		text-align:right;
	}
	th.item-total{
		text-align:center;
	}
	td.item-total{
		text-align:right;
	}
	th.text-right{
		text-align:right;
	}
	tbody.invoice-sums{
		text-align:right;
		font-size:10px;
	}

/* =============================================================================
	PDF footer
   ========================================================================== */
div.invoice-terms textarea{
	resize:both;
	width:100%;
	max-width:100%;
}
div.invoice-terms{
	font-size:9px;
}
div.invoice-bankdetails textarea{
	resize:both;
	width:100%;
	max-width:100%;
}
div.invoice-bankdetails{
	font-size:11px;
}

/* =============================================================================
	Tabelle mit USt-ID, Datum etc.
   ========================================================================== */
.invoice-details{
	text-align:right;
	}
.invoice-details table{
	border-collapse:collapse;
	border-spacing:0;
	text-align:right;
	width:40%;
	margin:0 0 0 auto;
	font-size:12px}
.invoice-details table td{
	width:auto;
	margin:0;
	padding:0 0 0.5em 0
}
