@import url(https://fonts.googleapis.com/css?family=Karla:300,400,600,700,300italic,400italic,600italic);

html {
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: 'Karla', sans-serif;
    color: #414141;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Karla', sans-serif;
}

.box {
    /*-webkit-box-shadow: inset hoff voff blur color;*/
    /*-moz-box-shadow: inset hoff voff blur color;*/
    /*box-shadow: inset hoff voff blur color;*/
    box-shadow: 0 2px 4px rgba(0,0,0,.15), 0 0 1px rgba(0,0,0,.08);
    /*-webkit-box-shadow: inset 0 1px 55px rgba(0,0,0,.15);*/
    /*-moz-box-shadow: inset 0 1px 55px rgba(0,0,0,.15);*/
    /*box-shadow: inset 0 1px 55px rgba(0,0,0,.15);*/
}

.clickable {
    cursor: pointer;
}

/* Twitter Typeahead */

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-dropdown-menu {
    width: 422px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.tt-suggestion {
    padding: 3px 20px;
    line-height: 24px;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}

.twitter-typeahead {
    width: 100%;
    position: relative;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
    margin-bottom: 0;
    width: 100%;
    height: 34px;
    position: absolute;
    top: 0;
    left: 0;
}

.skin-blue-light .content-header {
    padding: 15px 15px 10px 20px;
    background: #fbfbfb;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

btn-margin-left {
    margin-left: 20px;
}

.small-box h3 {
    font-size: 24px;
}

.datepicker {z-index: 1151 !important ;}

.pdf-embed {
    width: 100%;
    height: 650px;
}

.label-draft {
    background-color: #999999;
}
.label-sent {
    background-color: #3A87AD;
}

.label-paid {
    background-color: #468847;
}
.label-approved {
    background-color: #468847;
}
.label-rejected, .label-overdue {
    background-color: #B94A48;
}
.label-canceled {
    background-color: #333333;
}

.skin-blue-light .content-wrapper-public {
    border-left: none;
}

.content-wrapper-public {
    margin-left: 0;
}

.public-wrapper {
    width: 938px;
    margin: auto;
}

.public-doc-wrapper {
    background-color: white;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}

.direct-chat-scope {
    margin-left: 5px;
}

.todo-list>li .tools {
    display: block;
}

td .tools {
    display: block;
}