/*
|   =========================================================
|   Custom styles
|   =========================================================
*/

a:hover, a:active, a:focus {
  outline: 0;
  text-decoration: none;
}

body *:focus {
  outline: none !important;
  box-shadow: none !important;
}

.form-control, .panel {
  box-shadow: none;
}

#item_table {
  .input-group {
    padding-bottom: 0.5rem;
  }

  .ig-addon-aligned {
    width: 10rem;
    text-align: right;
  }

  select {
    padding-left: 6px;
  }

  textarea.h135rem {
    height: 13.5rem;
  }
}

.mb-1 {
  margin-bottom: 0.5rem;
}
