/*!
|   =========================================================
|   InvoicePlane Styles
|   https://invoiceplane.com
|   =========================================================
*/

@import "ip_variables";
@import "variables";

/*
|   =========================================================
|   Import Bootstrap and other assets
|   =========================================================
*/

@import "../../core/scss/bootstrap";
@import "../../../node_modules/font-awesome/scss/font-awesome";
@import "includes/select2";
@import "../../../node_modules/dropzone/src/dropzone";
@import "../../core/scss/bootstrap-datepicker";

/*
|   =========================================================
|   Import InvoicePlane Core Styles
|   =========================================================
*/

@import "../../core/scss/core";

/*
|   =========================================================
|   Custom styles
|   =========================================================
*/

@import "custom_styles";
